<div class="frame">
  <div class="left">
    {{gravatar-image email=request.assignee.email size=50 class="img-circle"}}
  </div>
  <div class="right">
    <span class="helper"></span>
    <button class="flat round-right">
      <i class="glyphicon-chevron-down glyphicon"></i>
    </button>
  </div>
  <div class="right potential points">
    <span class="helper"></span>
    <span class="potential points">{{request.todo.points}}<small>pts</small></span>
  </div>
  <div class="middle">
    <span class="helper"></span>
    <button class="flat round-left">{{request.todo.task}}</button>
  </div>
</div>
