<div>
  {{model.task}}
</div>
<div class="col-lg-4">
  <button {{action 'destroyTodo'}} class="btn">Destroy todo</button>
</div>
<div class="col-lg-4">
  {{#link-to 'todos.todo.edit' model tagName="button" class="btn"}}Edit todo{{/link-to}}
</div>
<div class="col-lg-4">
  {{#link-to 'todos.todo.assign' tagName="button" class="btn"}}Assign todo{{/link-to}}
</div>
{{outlet}}
